page-spviewservicerequest {
    #welcome {
        p{
            font-size:14px;
            color:black;
        }
        label{
            font-size:16px;
            font-weight: bold;
            color:#4682B4;
        }
    }
}
