page-home {

    #welcome {
        h1{
            font-size:36px;
            margin-top:50px;
        }
    }

    .marginTop{
        margin-top: 170px;
    }
    
    .registerbuttion{
        font-size: 10px;
    }

}
